# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android


############################
#  DODANE – FIREBASE


# Firebase logs & cache
firebase-debug.log*
.firestore/
.storage/

# Firebase emulator data
firebase-export/
.emulator/

# Firebase local config (secrets)
.firebaserc.local
runtimeconfig.json



#  DODANE – CLOUD FUNCTIONS


# Compiled TS output
functions/lib/

# Functions dependencies
functions/node_modules/



#  DODANE – ENV & SECRETS


# Main env files (IMPORTANT)
.env
.env.*


#  DODANE – IDE / TEMP


.vscode/
.idea/
tmp/
temp/
generated/
